{% extends "::base.html.twig" %}

{% block title %}Events{% endblock %}

{#      <h2><a href="{{ path('blogger_book_view', {id : book.id}) }}">      #}


{% block body %}
    {% for event in events %}
        <h1><a href="{{ path('rs_joindin_event', { index : loop.index }) }}">{{ event.name }}</a></h1>
        <p>{{ event.description }}</p>
        <hr>
    {% endfor %}
{% endblock %}
